body{
    height: 100%;
    background-size: contain;
}
img{
    width: 100%;
}
h1{
    text-align: center;
}
.intro,table,.calc,form{
    overflow: hidden;
}
.away{
    width: 100%;
}
.align{
    width: 100%;
    display: flex;
    flex-direction: row;
}
